# =========================
# Python / Flask
# =========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# React / Node.js
# =========================
node_modules/
build/
dist/
coverage/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Environment variables
# =========================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# =========================
# Google Cloud credentials
# =========================
backend/credentials.json
backend/credentials2.json
backend/credentials3.json

# Ou tous les fichiers credentials JSON
backend/credentials*.json

# =========================
# OS
# =========================
.DS_Store
Thumbs.db